<ion-view title="Edit task" hide-back-button="true">
    <ion-content class="padding" ng-controller="EditTaskCtrl">
        <form name="form" ng-submit="form.$valid && updateTask(data)">
            
            <form-name-input></form-name-input>
            
            <form-description-input></form-description-input>
            
            <form-time-input></form-time-input>
            
            <form-priority-input></form-priority-input>
            
            <ion-checkbox ng-model="data.required">Required task</ion-checkbox>
            
            <button class="button button-update" type="submit">Update</button>
            
        </form>
    </ion-content>
</ion-view>