<ion-view name="login" title="Login page">
    <ion-header-bar class="navbar">
        <div class="title header-item">Login</div>
    </ion-header-bar>
    <ion-content>
        <label class="item item-input">
            <input type="email" placeholder="Email" ng-model="data.email">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="data.password">
        </label>
        <ion-checkbox ng-model="data.newAccount">New account</ion-checkbox>
        <button class="button button-login" ng-click="authenticate()">Submit</button>
        <div ng-show="error" class="alert alert-danger"> {{ error }} </div>
        <div ng-show="success" class="alert alert-success"> {{ success }}</div>
    </ion-content>
</ion-view>