<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>
        <ion-nav-bar class="navbar">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-calm button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button ng-if="isState('menu.schedlist')" class="button button-calm button-icon icon ion-refresh button-refresh" 
                        ng-click="refresh()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menu-content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" is-enabled="true">
        <ion-header-bar class="bar-dark">
            <h1 class="title">CDay menu</h1> 
        </ion-header-bar>
        
        <ion-content>
            <a menu-close href="#/menu/newtask" class="button button-block button-positive icon icon-right ion-android-add button-add">
                Add new task
            </a>
            <a menu-close class="button button-block button-stable" href="#/menu/schedlist">Schedule list</a>
            <a menu-close class="button button-block button-stable" href="#/menu/optlist">Options list</a>
            <a class="button button-block button-stable" href="#/login" ng-click="logout()">Logout</a>                
        </ion-content>
    </ion-side-menu>

</ion-side-menus>