<ion-view title="New task">
    <ion-content class="padding">
        <form name="form" ng-submit="form.$valid && createTask(data)" novalidate>
            
            <form-name-input></form-name-input>
            
            <form-description-input></form-description-input>
            
            <form-time-input></form-time-input>
            
            <form-priority-input></form-priority-input>
            
            <ion-checkbox ng-model="data.required">Required task</ion-checkbox>
            
            <button class="button button-new-task" type="submit">Create</button>
            
        </form>
    </ion-content>
</ion-view>