<ion-view title="Options list">
    <ion-content>
        <ion-list class="item-remove-animate">
            <ion-item>Total probability percents: {{ percents }}</ion-item>
            <ion-item>Total tasks: {{ tasks.length }}</ion-item>
            <div class="item-divider"></div>
            <ion-item ng-href="#/menu/edittask/{{task.$id}}" ng-repeat="task in tasks track by $index" 
                      ng-class="{ 'task-null-priority' : task.priority === 0}">
                <span>{{ task.name }}</span><span class="align-right">{{ task.priority }}</span>
                <ion-option-button ng-class="task.priority === 0 ? 'button-stable' : 'button-assertive'" 
                                   ng-click="deleteTask(task.id)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>