<ion-view title="Schedule list">
    <ion-content>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Day start:</span>
            <input formatted-time type="time" ng-model="data.startTime" />
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Day end:</span>
            <input formatted-time type="time" ng-model="data.finishTime" />
        </label>
        <button class="button button-schedule" ng-click="createSchedule()">New schedule</button>
        <button class="button button-schedule" ng-show="state.isNewSchedule" 
                ng-click="saveSchedule(scheduledTasks, data.startTime, data.finishTime)">Save schedule</button>
        <ion-list>
            <ion-item ng-repeat="task in scheduledTasks | orderBy: 'startTime' track by $index">
                {{ getFormattedTime(task.startTime) + " - " + getFormattedTime(task.finishTime) }} 
                <span class="task-name">{{task.name }}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>