<label class="item item-input item-floating-label">
    <span class="input-label">Name of the task</span>
    <input name="name" type="text" placeholder="Name of the task" ng-model="data.name" required>
</label>
<div ng-messages="form.name.$error" ng-if="form.name.$touched || form.$submitted" role="alert">
    <div ng-message="required">A task must have a name!</div>
</div>