<label class="item item-input item-floating-label">
    <span class="input-label">Time of the task</span>
    <input name="time" formatted-time type="time" placeholder="Time of the task" ng-model="data.time" required>
</label>
<div ng-messages="form.time.$error" ng-if="form.time.$touched || form.$submitted" role="alert">
    <div ng-message="required">Time of the task isn't set!</div>
    <div ng-message="min">A task can't have negative time!</div>
</div>