<label class="item item-input item-floating-label">
    <span class="input-label">Priority (in percents)</span>
    <input name="priority" type="number" placeholder="Priority (in percents)" step="0.0001" ng-model="data.priority" required min=0 max=100>
</label>
<div ng-messages="form.priority.$error" ng-if="form.priority.$touched || form.$submitted" role="alert">
    <div ng-message="required">Priority of the task isn't set!</div>
    <div ng-message="min">A task can't have negative priority!</div>
    <div ng-message="max">Max priority value of the task is 100%!</div>
</div>