<label class="item item-input item-floating-label">
    <span class="input-label">Description</span>
    <textarea type="text" placeholder="Description" ng-model="data.description"></textarea>
</label>