@import "fontawesome/font-awesome.min.css";

.align-right {
    float: right;
}

.input-label {
    font-weight: 700;
}

.task-name {
    margin-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-add {
    padding-left: 0;
}

a.button.icon-right:before {
    position: absolute;
    right: 70px;
}

.navbar {
    color: #fafdfa;
    background-color: rgb(7, 143, 202);
}

.button-login, .button-schedule, .button-new-task, .button-update {
    color: rgb(7, 143, 202);
    background-color: #fafdfa;
    border: solid #ddd 2px;
    margin: 10px 10px;
}

.item.task-null-priority>.item-content {
    color: #fafdfa;
    background-color: rgb(101, 117, 125);
    opacity: 0.6;
}